<h1 align=center><font size = 5>Depression and suicide psychology</font></h1>

Christine Dupré would like to open a new psychologist's office. Specialist in depressive disorders, paranoia and personality disorders, she has the idea of ​​settling somewhere where statistically there is the highest level of suicides in the world.
Depression is one of the causes of suicide, she says, if it is properly treated the suicide rate should decrease.
So she called on us to offer her the best country where she could settle. As data, she sent us suicides from the world from 1987 to 2015. She also said that we had to choose a place not far from transportation and a good restaurant.

According to the data in hand, we decided to divide our work into two main parts:    

A. The worldwide suicide    

B. The choice of the best location

## A. Worldwide suicides

More than 800,000 people die by suicide each year and the number of attempts is still much higher. Each year, millions of people are therefore faced with cruel losses due to suicide.
These deaths can occur at any age of life and suicide was the second leading cause of death among 15-29 year olds worldwide.   
Suicide is a phenomenon that affects all regions of the world; in fact, 75% of suicides occurred in low- and middle-income countries. Suicide accounted for 1.4% of deaths worldwide, making it the fifteenth leading cause of death.

<img src="./suicides.png"/>

With this database we will be able to determine the top 5 of countries with a high level of suicide, which will therefore be the top 5 of countries where Ms. Dupre could open her office.

### 1. Imported Dataset

In [3]:
import pandas as pd # for data analsysis
import numpy as np # to handle data in a vectorized manner

In [4]:
df = pd.read_csv(r'master.csv') # Load the csv
df['HDI for year'] = df['HDI for year'].fillna(0) # to fill NA/NaN values
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,0.000,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,0.000,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,0.000,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,0.000,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,0.000,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        27820 non-null  float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 1.9+ MB

In [6]:
df.shape #Show the shape

(27820, 12)

In [7]:
print('My dataframe has {} country and {} suicides.'.format(
        len(df['country'].unique()),
        df.shape[0]
    )
)

My dataframe has 101 country and 27820 suicides.